.nowrap {
    white-space: nowrap;
  }

input[type="checkbox"] + .more-authors {
  display: none;
}

input[type="checkbox"]:checked + .more-authors {
  display: inline;
}

/* Ensure everything stays on one line */
label, .more-authors {
  display: inline;
}
